In [396]:
#과속+신호,과속,신호 3개 묶어서 한개로, 주정차위반 한개 해서 총 4개로 보여주기

In [2]:
import warnings
warnings.filterwarnings(action='ignore') 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import matplotlib
import platform
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')
    #Malgun 
%matplotlib inline

In [9]:
df1 = pd.read_csv('data2/노인무인단속장비 현황.csv')
df2 = pd.read_csv('data2/어린이무인단속장비 현황.csv')

In [10]:
df1

       시도   계 과속+신호 과속 신호 주정차  방범
0     서울시  97     2  0  0   8  87
1   종   로   0     0  0  0   0   0
2   중   구   0     0  0  0   0   0
3   용   산   3     0  0  0   0   3
4   성   동   6     0  0  0   4   2
5   광   진   0     0  0  0   0   0
6     동대문   3     0  0  0   0   3
7   중   랑   0     0  0  0   0   0
8   성   북   1        0  0   0   1
9   강   북   0     0  0  0   0   0
10  도   봉   0     0  0  0   0   0
11  노   원   0     0  0  0   0   0
12  은   평  44     1  0  0   0  43
13    서대문   1     0  0  0   0   1
14  마   포   0
15  양   천   5     1  0  0   1   3
16  강   서   0
17  구   로   0     0  0  0   0   0
18  금   천   0     0  0  0   0   0
19    영등포   0     0  0  0   0   0
20  동   작   0
21  관   악  11     0  0  0   3   8
22  서   초   2     0  0  0   0   2
23  강   남  13     0  0  0   0  13
24  송   파   6     0  0  0   0   6
25  강   동   2     0  0  0   0   2

In [11]:
df1 == ' '

       시도      계  과속+신호     과속     신호    주정차     방범
0   False  False  False  False  False  False  False
1   False  False  False  False  False  False  False
2   False  False  False  False  False  False  False
3   False  False  False  False  False  False  False
4   False  False  False  False  False  False  False
5   False  False  False  False  False  False  False
6   False  False  False  False  False  False  False
7   False  False  False  False  False  False  False
8   False  False   True  False  False  False  False
9   False  False  False  False  False  False  False
10  False  False  False  False  False  False  False
11  False  False  False  False  False  False  False
12  False  False  False  False  False  False  False
13  False  False  False  False  False  False  False
14  False  False   True   True   True   True   True
15  False  False  False  False  False  False  False
16  False  False   True   True   True   True   True
17  False  False  False  False  False  False  False
18  False  False  False  False  False  False  False
19  False  False  False  False  False  False  False
20  False  False   True   True   True   True   True
21  False  False  False  False  False  False  False
22  False  False  False  False  False  False  False
23  False  False  False  False  False  False  False
24  False  False  False  False  False  False  False
25  False  False  False  False  False  False  False

In [12]:
df1['과속+신호'] = df1['과속+신호'].str.replace(' ','0')
df1['과속'] = df1['과속'].str.replace(' ','0')
df1['신호'] = df1['신호'].str.replace(' ','0')
df1['주정차'] = df1['주정차'].str.replace(' ','0')
df1['방범'] = df1['방범'].str.replace(' ','0')

In [13]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      26 non-null     object
 1   계       26 non-null     int64
 2   과속+신호   26 non-null     object
 3   과속      26 non-null     object
 4   신호      26 non-null     object
 5   주정차     26 non-null     object
 6   방범      26 non-null     object
dtypes: int64(1), object(6)
memory usage: 1.5+ KB

In [14]:
df1 = df1.astype({'시도':'object','계':'int64','과속+신호':'int64','과속':'int64','신호':'int64','주정차':'int64','방범':'int64'})

In [15]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   시도      26 non-null     object
 1   계       26 non-null     int64
 2   과속+신호   26 non-null     int64
 3   과속      26 non-null     int64
 4   신호      26 non-null     int64
 5   주정차     26 non-null     int64
 6   방범      26 non-null     int64
dtypes: int64(6), object(1)
memory usage: 1.5+ KB

In [16]:
df1['과속+신호 all'] = df1['과속+신호']+df1['과속']+df1['신호']
df1

       시도   계  과속+신호  과속  신호  주정차  방범  과속+신호 all
0     서울시  97      2   0   0    8  87          2
1   종   로   0      0   0   0    0   0          0
2   중   구   0      0   0   0    0   0          0
3   용   산   3      0   0   0    0   3          0
4   성   동   6      0   0   0    4   2          0
5   광   진   0      0   0   0    0   0          0
6     동대문   3      0   0   0    0   3          0
7   중   랑   0      0   0   0    0   0          0
8   성   북   1      0   0   0    0   1          0
9   강   북   0      0   0   0    0   0          0
10  도   봉   0      0   0   0    0   0          0
11  노   원   0      0   0   0    0   0          0
12  은   평  44      1   0   0    0  43          1
13    서대문   1      0   0   0    0   1          0
14  마   포   0      0   0   0    0   0          0
15  양   천   5      1   0   0    1   3          1
16  강   서   0      0   0   0    0   0          0
17  구   로   0      0   0   0    0   0          0
18  금   천   0      0   0   0    0   0          0
19    영등포   0      0   0   0    0   0          0
20  동   작   0      0   0   0    0   0          0
21  관   악  11      0   0   0    3   8          0
22  서   초   2      0   0   0    0   2          0
23  강   남  13      0   0   0    0  13          0
24  송   파   6      0   0   0    0   6          0
25  강   동   2      0   0   0    0   2          0

In [17]:
df1 = df1.drop(['시도','계','과속+신호','과속','신호'], axis=1)

In [18]:
df1

    주정차  방범  과속+신호 all
0     8  87          2
1     0   0          0
2     0   0          0
3     0   3          0
4     4   2          0
5     0   0          0
6     0   3          0
7     0   0          0
8     0   1          0
9     0   0          0
10    0   0          0
11    0   0          0
12    0  43          1
13    0   1          0
14    0   0          0
15    1   3          1
16    0   0          0
17    0   0          0
18    0   0          0
19    0   0          0
20    0   0          0
21    3   8          0
22    0   2          0
23    0  13          0
24    0   6          0
25    0   2          0

In [19]:
pd.DataFrame(df1).to_csv('old.csv')

In [20]:
df2

    Unnamed: 0     시도    계  과속+신호    과속   신호  주정차위반   방범
0          NaN  종   로   25      0   0.0  0.0      0   25
1          1.0  중   구  236      5   0.0  0.0     18  213
2          2.0  용   산   86      0   1.0  1.0      7   77
3          3.0  성   동  193     32   1.0  0.0     29  131
4          4.0  광   진  232     14   2.0  0.0     11  205
5          5.0    동대문  105     14  11.0  0.0      3   77
6          6.0  중   랑  155     11   2.0  0.0     24  118
7          7.0  성   북  144     23   4.0  0.0     89   28
8          8.0  강   북  193     16   2.0  0.0     81   94
9          9.0  도   봉  131     20   4.0  0.0     46   61
10        10.0  노   원  258      2   0.0  0.0     49  207
11        11.0  은   평  676      3  13.0  0.0     22  638
12        12.0    서대문  102     19  11.0  0.0     36   36
13        13.0  마   포  107     12   1.0  0.0      8   86
14        14.0  양   천  290     21   9.0  0.0     22  238
15        15.0  강   서  129      3   1.0  0.0      1  124
16        16.0  구   로  237     36   3.0  0.0     23  175
17        17.0  금   천   60      0  11.0  0.0      0   49
18        18.0    영등포  204      4   NaN  NaN     27  173
19        19.0  동   작  140     16   7.0  0.0      4  113
20        20.0  관   악  258     25   4.0  0.0     64  165
21        21.0  서   초  141     20   1.0  0.0     34   86
22        22.0  강   남  263     24   NaN  NaN     54  185
23        23.0  송   파  213     22   3.0  0.0      8  180
24        24.0  강   동  147      1   3.0  0.0      4  139

In [21]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  24 non-null     float64
 1   시도          25 non-null     object
 2   계           25 non-null     int64
 3   과속+신호       25 non-null     int64
 4   과속          23 non-null     float64
 5   신호          23 non-null     float64
 6   주정차위반       25 non-null     int64
 7   방범          25 non-null     int64
dtypes: float64(3), int64(4), object(1)
memory usage: 1.7+ KB

In [22]:
df2['과속+신호 all'] = df2['과속+신호']+df2['과속']+df2['신호']
df2

    Unnamed: 0     시도    계  과속+신호    과속   신호  주정차위반   방범  과속+신호 all
0          NaN  종   로   25      0   0.0  0.0      0   25        0.0
1          1.0  중   구  236      5   0.0  0.0     18  213        5.0
2          2.0  용   산   86      0   1.0  1.0      7   77        2.0
3          3.0  성   동  193     32   1.0  0.0     29  131       33.0
4          4.0  광   진  232     14   2.0  0.0     11  205       16.0
5          5.0    동대문  105     14  11.0  0.0      3   77       25.0
6          6.0  중   랑  155     11   2.0  0.0     24  118       13.0
7          7.0  성   북  144     23   4.0  0.0     89   28       27.0
8          8.0  강   북  193     16   2.0  0.0     81   94       18.0
9          9.0  도   봉  131     20   4.0  0.0     46   61       24.0
10        10.0  노   원  258      2   0.0  0.0     49  207        2.0
11        11.0  은   평  676      3  13.0  0.0     22  638       16.0
12        12.0    서대문  102     19  11.0  0.0     36   36       30.0
13        13.0  마   포  107     12   1.0  0.0      8   86       13.0
14        14.0  양   천  290     21   9.0  0.0     22  238       30.0
15        15.0  강   서  129      3   1.0  0.0      1  124        4.0
16        16.0  구   로  237     36   3.0  0.0     23  175       39.0
17        17.0  금   천   60      0  11.0  0.0      0   49       11.0
18        18.0    영등포  204      4   NaN  NaN     27  173        NaN
19        19.0  동   작  140     16   7.0  0.0      4  113       23.0
20        20.0  관   악  258     25   4.0  0.0     64  165       29.0
21        21.0  서   초  141     20   1.0  0.0     34   86       21.0
22        22.0  강   남  263     24   NaN  NaN     54  185        NaN
23        23.0  송   파  213     22   3.0  0.0      8  180       25.0
24        24.0  강   동  147      1   3.0  0.0      4  139        4.0

In [23]:
df2.fillna(0)

    Unnamed: 0     시도    계  과속+신호    과속   신호  주정차위반   방범  과속+신호 all
0          0.0  종   로   25      0   0.0  0.0      0   25        0.0
1          1.0  중   구  236      5   0.0  0.0     18  213        5.0
2          2.0  용   산   86      0   1.0  1.0      7   77        2.0
3          3.0  성   동  193     32   1.0  0.0     29  131       33.0
4          4.0  광   진  232     14   2.0  0.0     11  205       16.0
5          5.0    동대문  105     14  11.0  0.0      3   77       25.0
6          6.0  중   랑  155     11   2.0  0.0     24  118       13.0
7          7.0  성   북  144     23   4.0  0.0     89   28       27.0
8          8.0  강   북  193     16   2.0  0.0     81   94       18.0
9          9.0  도   봉  131     20   4.0  0.0     46   61       24.0
10        10.0  노   원  258      2   0.0  0.0     49  207        2.0
11        11.0  은   평  676      3  13.0  0.0     22  638       16.0
12        12.0    서대문  102     19  11.0  0.0     36   36       30.0
13        13.0  마   포  107     12   1.0  0.0      8   86       13.0
14        14.0  양   천  290     21   9.0  0.0     22  238       30.0
15        15.0  강   서  129      3   1.0  0.0      1  124        4.0
16        16.0  구   로  237     36   3.0  0.0     23  175       39.0
17        17.0  금   천   60      0  11.0  0.0      0   49       11.0
18        18.0    영등포  204      4   0.0  0.0     27  173        0.0
19        19.0  동   작  140     16   7.0  0.0      4  113       23.0
20        20.0  관   악  258     25   4.0  0.0     64  165       29.0
21        21.0  서   초  141     20   1.0  0.0     34   86       21.0
22        22.0  강   남  263     24   0.0  0.0     54  185        0.0
23        23.0  송   파  213     22   3.0  0.0      8  180       25.0
24        24.0  강   동  147      1   3.0  0.0      4  139        4.0

In [570]:
df2 = df2.drop(['시도','계','과속+신호','과속','신호'], axis=1)
df2

    주정차    방범  과속+신호 all
0   664  3623        438
1     0    25          0
2    18   213          5
3     7    77          2
4    29   131         33
5    11   205         16
6     3    77         25
7    24   118         13
8    89    28         27
9    81    94         18
10   46    61         24
11   49   207          2
12   22   638         16
13   36    36         30
14    8    86         13
15   22   238         30
16    1   124          4
17   23   175         39
18    0    49         11
19   27   173          4
20    4   113         23
21   64   165         29
22   34    86         21
23   54   185         24
24    8   180         25
25    4   139          4

In [571]:
df2.fillna(0)

    주정차    방범  과속+신호 all
0   664  3623        438
1     0    25          0
2    18   213          5
3     7    77          2
4    29   131         33
5    11   205         16
6     3    77         25
7    24   118         13
8    89    28         27
9    81    94         18
10   46    61         24
11   49   207          2
12   22   638         16
13   36    36         30
14    8    86         13
15   22   238         30
16    1   124          4
17   23   175         39
18    0    49         11
19   27   173          4
20    4   113         23
21   64   165         29
22   34    86         21
23   54   185         24
24    8   180         25
25    4   139          4

In [572]:
pd.DataFrame(df1).to_csv('kids.csv')

In [573]:
print(df1[:1])
print(df2[:1])

   주정차  방범  과속+신호 all
0    8  87          2
   주정차    방범  과속+신호 all
0  664  3623        438

In [574]:
all=df1.iloc[:1]
all

   주정차  방범  과속+신호 all
0    8  87          2

In [575]:
all1 = df2.iloc[:1]
all1

   주정차    방범  과속+신호 all
0  664  3623        438

In [578]:
all_df = pd.concat([all,all1], axis=0)
all_df

   주정차    방범  과속+신호 all
0    8    87          2
0  664  3623        438

In [579]:
all_df = all_df.reset_index()
all_df

   index  주정차    방범  과속+신호 all
0      0    8    87          2
1      0  664  3623        438

In [580]:
all_df = all_df.drop(['index'], axis=1)
all_df

   주정차    방범  과속+신호 all
0    8    87          2
1  664  3623        438

In [1]:
plt.plot(all)

NameError: name 'plt' is not defined

In [ ]:
plt.figure(figsize=(20,11))
plt.bar(covid_bicycle[covid_bicycle['year']==2020]['month'], covid_bicycle[covid_bicycle['year']==2020]['이용건수'], label='2020년', color='pink')
plt.bar(covid_bicycle[covid_bicycle['year']==2021]['month'], covid_bicycle[covid_bicycle['year']==2021]['이용건수'], label='2021년', color='blue')
pl = sns.barplot(x='month', y='이용건수', hue='year', data=covid_bicycle)
plt.legend(fontsize=30)
plt.title('실버존과 스쿨존 비교',fontsize=30)
plt.xlabel('월', fontsize=20)
plt.ylabel('이용건수', fontsize=20)
for temp in pl.patches:
    pl.annotate('%d'%temp.get_height(),(temp.get_x()+temp.get_width()/2 , temp.get_height()) , ha = 'center' , va='bottom')