In [1]:
#코로나 데이터 불러오기

In [161]:
import pandas as pd

corona = pd.read_csv('../data2/covid_seoul.csv', engine='python')

In [162]:
corona.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83138 entries, 0 to 83137
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      83138 non-null  int64
 1   확진일     83138 non-null  object
 2   환자번호    0 non-null      float64
 3   국적      0 non-null      float64
 4   환자정보    0 non-null      float64
 5   지역      83138 non-null  object
 6   여행력     1619 non-null   object
 7   접촉력     83138 non-null  object
 8   조치사항    0 non-null      float64
 9   상태      83138 non-null  object
 10  이동경로    0 non-null      float64
 11  등록일     83138 non-null  object
 12  수정일     83138 non-null  object
 13  노출여부    83138 non-null  object
dtypes: float64(5), int64(1), object(8)
memory usage: 8.9+ MB

In [163]:
corona.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,83138,2021-09-06,NaN,NaN,NaN,관악구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
1,83137,2021-09-06,NaN,NaN,NaN,강남구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
2,83136,2021-09-06,NaN,NaN,NaN,동작구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
3,83135,2021-09-06,NaN,NaN,NaN,강남구,NaN,기타 확진자 접촉,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y
4,83134,2021-09-06,NaN,NaN,NaN,광진구,미국,해외유입,NaN,-,NaN,2021-09-07 10:51,2021-09-07 10:51,Y

In [164]:
# 확진일만 필요해
corona_df = corona[['확진일']]

In [165]:
# 짝대기 빼버리기
corona_df['확진일'] = corona_df['확진일'].str.replace('-','')

<ipython-input-165-b88a1ef288ce>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  corona_df['확진일'] = corona_df['확진일'].str.replace('-','')

In [166]:
corona_df.head()

        확진일
0  20210906
1  20210906
2  20210906
3  20210906
4  20210906

In [167]:
# 총 데이터가 확진자 수임
# 월별로 확진자수가 필요한데,,,,
# 아니면 년도별로?
corona_df.iloc[1]

확진일    20210906
Name: 1, dtype: object

In [168]:
#맨뒤 일은 빼도된다.
for i in range(len(corona_df['확진일'])):
    tmp = corona_df.iloc[i].values[0]
    corona_df.iloc[i] = tmp[:-2]

D:\anaconda\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
D:\anaconda\lib\site-packages\pandas\core\indexing.py:692: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

In [169]:
corona_df

          확진일
0      202109
1      202109
2      202109
3      202109
4      202109
...       ...
83133  202001
83134  202001
83135  202001
83136  202001
83137  202001

[83138 rows x 1 columns]

In [171]:
# 하지만 확진일이 필요한게 아님,,, 인원수가 필요하기 때문에 딕셔너리를 써서 다시 만들어보자
num = {}
for i in corona_df['확진일']:
    if i not in num:
        num[i] = 1
    else:
        num[i] += 1
num

{'202109': 3121,
 '202108': 15194,
 '202107': 14504,
 '202106': 6258,
 '202105': 6030,
 '202104': 5803,
 '202103': 3897,
 '202012': 10432,
 '202102': 4060,
 '202101': 4878,
 '202011': 2904,
 '202008': 2415,
 '202010': 733,
 '202009': 1306,
 '202007': 281,
 '202006': 459,
 '202005': 229,
 '202004': 156,
 '202003': 391,
 '202002': 80,
 '202001': 7}

In [172]:
corona_df2 = pd.DataFrame(num, index=[0])
corona_df2 = corona_df2.transpose()
corona_df2.reset_index(inplace=True)

In [173]:
corona_df2.head()

    index      0
0  202109   3121
1  202108  15194
2  202107  14504
3  202106   6258
4  202105   6030

In [174]:
corona_df2.columns = ['날짜','확진자수']

In [179]:
corona_df2 = corona_df2.sort_values(by=['날짜'], ascending=False)

In [181]:
corona_df2.reset_index(inplace=True)
corona_df2

    index      날짜   확진자수
0       0  202109   3121
1       1  202108  15194
2       2  202107  14504
3       3  202106   6258
4       4  202105   6030
5       5  202104   5803
6       6  202103   3897
7       8  202102   4060
8       9  202101   4878
9       7  202012  10432
10     10  202011   2904
11     12  202010    733
12     13  202009   1306
13     11  202008   2415
14     14  202007    281
15     15  202006    459
16     16  202005    229
17     17  202004    156
18     18  202003    391
19     19  202002     80
20     20  202001      7

In [183]:
corona_df2.drop('index',axis=1, inplace=True)

In [184]:
corona_df2

        날짜   확진자수
0   202109   3121
1   202108  15194
2   202107  14504
3   202106   6258
4   202105   6030
5   202104   5803
6   202103   3897
7   202102   4060
8   202101   4878
9   202012  10432
10  202011   2904
11  202010    733
12  202009   1306
13  202008   2415
14  202007    281
15  202006    459
16  202005    229
17  202004    156
18  202003    391
19  202002     80
20  202001      7

In [29]:
# 버스 노선별 정보
bus = pd.read_csv('../data2/서울시 버스노선별 정류장별 승하차 인원 정보.csv')

In [30]:
bus

,사용일자,노선번호,노선명,표준버스정류장ID,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20210904,N37,N37번(송파공영차고지~진관공영차고지),100000001,1001,종로2가사거리,1,3,20210907
1,20210904,N37,N37번(진관공영차고지~송파공영차고지),100000001,1001,종로2가사거리,2,11,20210907
2,20210904,470,470번(상암차고지~안골마을),100000001,1001,종로2가사거리,131,149,20210907
3,20210904,741,741번(진관차고지~헌인릉입구),100000001,1001,종로2가사거리,134,160,20210907
4,20210904,106,106번(의정부~동대문),100000002,1002,창경궁.서울대학교병원,30,36,20210907
...,...,...,...,...,...,...,...,...,...
1048570,20210808,752,752번(구산동~노량진),111000066,12154,녹번초등학교.은평세무서,127,45,20210811
1048571,20210808,9701,9701번(가좌동~서울역),111000066,12154,녹번초등학교.은평세무서,10,13,20210811
1048572,20210808,7212,7212번(은평차고지~극동그린아파트앞),111000066,12154,녹번초등학교.은평세무서,31,33,20210811
1048573,20210808,7021,7021번(은평공영차고지~롯데백화점),111000067,12155,응암초등학교,50,54,20210811
1048574,20210808,7018,7018번(북가좌동~광교),111000067,12155,응암초등학교,32,44,20210811

In [34]:
#사용일자, 승차총승객수, 하차총승객수
bus_df = bus[['사용일자','승차총승객수','하차총승객수']]
bus_df.columns=['날짜','승차','하차']

In [35]:
bus_df.head()

         날짜   승차   하차
0  20210904    1    3
1  20210904    2   11
2  20210904  131  149
3  20210904  134  160
4  20210904   30   36

In [186]:
#이건 일단 월별로 다묶어서 더해야함...
bus_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 3 columns):
 #   Column  Non-Null Count    Dtype
---  ------  --------------    -----
 0   날짜      1048575 non-null  int64
 1   승차      1048575 non-null  int64
 2   하차      1048575 non-null  int64
dtypes: int64(3)
memory usage: 24.0 MB

In [187]:
bus_df['날짜'] = bus_df['날짜'].astype('str')

<ipython-input-187-a31837b2108c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bus_df['날짜'] = bus_df['날짜'].astype('str')

In [189]:
for i in range(len(bus_df['날짜'])):
    tmp = bus_df.iloc[i].values[0]
    print(tmp)
    bus_df.iloc[i] = tmp[:-2]

202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109
202109

KeyboardInterrupt:

# 버스는 데이터가 너무커서 포기

In [200]:
train = pd.read_csv('../data2/서울시 지하철호선별 역별 승하차 인원 정보.csv')

In [201]:
train

           사용일자    호선명         역명  승차총승객수  하차총승객수      등록일자
0      20210903  우이신설선   4.19민주묘지    2838    2693  20210906
1      20210903    경원선         가능    6459    6205  20210906
2      20210903    3호선       가락시장    8769    8528  20210906
3      20210903    8호선       가락시장    7658    8327  20210906
4      20210903    경부선    가산디지털단지   17175   19894  20210906
...         ...    ...        ...     ...     ...       ...
23442  20210727    경원선         회룡   10628   10461  20210730
23443  20210727    4호선  회현(남대문시장)   19952   20964  20210730
23444  20210727    경의선      효창공원앞    2544    2866  20210730
23445  20210727    6호선      효창공원앞    5781    5324  20210730
23446  20210727    9호선  흑석(중앙대입구)    6237    6654  20210730

[23447 rows x 6 columns]

In [202]:
train_df = train[['사용일자','승차총승객수']]

In [203]:
train_df

           사용일자  승차총승객수
0      20210903    2838
1      20210903    6459
2      20210903    8769
3      20210903    7658
4      20210903   17175
...         ...     ...
23442  20210727   10628
23443  20210727   19952
23444  20210727    2544
23445  20210727    5781
23446  20210727    6237

[23447 rows x 2 columns]

In [204]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23447 entries, 0 to 23446
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   사용일자    23447 non-null  int64
 1   승차총승객수  23447 non-null  int64
dtypes: int64(2)
memory usage: 366.5 KB

In [205]:
train_df['사용일자'] = train_df['사용일자'].astype(str)

<ipython-input-205-fe6e93987ef9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['사용일자'] = train_df['사용일자'].astype(str)

In [206]:
for i in range(len(train_df['사용일자'])):
    tmp = train_df.iloc[i].values[0]
    train_df.loc[i,'사용일자'] = tmp[:-2]

D:\anaconda\lib\site-packages\pandas\core\indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [207]:
train_df

         사용일자  승차총승객수
0      202109    2838
1      202109    6459
2      202109    8769
3      202109    7658
4      202109   17175
...       ...     ...
23442  202107   10628
23443  202107   19952
23444  202107    2544
23445  202107    5781
23446  202107    6237

[23447 rows x 2 columns]

In [208]:
train_df['사용일자'] = train_df['사용일자'].astype(int)

<ipython-input-208-21df816d1264>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['사용일자'] = train_df['사용일자'].astype(int)

In [211]:
num = {}
for idx, k in enumerate(train_df['사용일자']):
    if k not in num:
        num[k] = train_df.loc[idx,'승차총승객수']
    else:
        num[k] += train_df.loc[idx,'승차총승객수']
num

{202109: 18519030, 202108: 153448619, 202107: 25732857}

In [222]:
train_df2 = pd.DataFrame(num, index=[0])
train_df2 = train_df2.transpose()
train_df2.reset_index(inplace=True)

In [224]:
train_df2.columns = ['날짜','승객']

In [225]:
train_df2

       날짜         승객
0  202109   18519030
1  202108  153448619
2  202107   25732857

In [291]:
#위에망함
#그냥 데이터합치자...
t1 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202001.csv')
t2 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202002.csv')
t3 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202003.csv')
t4 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202004.csv')
t5 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202005.csv')
t6 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202006.csv')
t7 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202007.csv')
t8 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202008.csv')
t9 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202009.csv')
t10 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202010.csv')
t11 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202011.csv')
t12 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202012.csv')
t13 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202101.csv')
t14 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202102.csv')
t15 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202103.csv')
t16 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202104.csv')
t17 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202105.csv')
t18 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202106.csv')
t19 = pd.read_csv('../data2/CARD_SUBWAY_MONTH_202107.csv')

In [292]:
train = pd.concat([t1,t2,t3,t4,t5,t6,t7,t8,t9,t10,t11,t12,t13,t14,t15,t16,t17,t18,t19], ignore_index=False, join='inner')

In [293]:
train

           사용일자    노선명            역명  승차총승객수  하차총승객수        등록일자
0      20200101    1호선            종각   20427   16301  20200104.0
1      20200101    1호선            시청   12126   10516  20200104.0
2      20200101  우이신설선           신설동     892     828  20200104.0
3      20200101  우이신설선            보문     917     855  20200104.0
4      20200101  우이신설선    성신여대입구(돈암)    2010    2363  20200104.0
...         ...    ...           ...     ...     ...         ...
18627  20210731    경원선  청량리(서울시립대입구)   11320   13138  20210803.0
18628  20210731    경원선           외대앞    4261    4279  20210803.0
18629  20210731    경원선           신이문    4666    4313  20210803.0
18630  20210731    2호선     용두(동대문구청)    1292    1364  20210803.0
18631  20210731    2호선         신정네거리    5350    5383  20210803.0

[344239 rows x 6 columns]

In [294]:
train_df = train[['사용일자','승차총승객수']]

In [295]:
train_df

           사용일자  승차총승객수
0      20200101   20427
1      20200101   12126
2      20200101     892
3      20200101     917
4      20200101    2010
...         ...     ...
18627  20210731   11320
18628  20210731    4261
18629  20210731    4666
18630  20210731    1292
18631  20210731    5350

[344239 rows x 2 columns]

In [296]:
train_df['사용일자'] = train_df['사용일자'].astype(str)

<ipython-input-296-fe6e93987ef9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_df['사용일자'] = train_df['사용일자'].astype(str)

In [297]:
train_df = train_df.loc[:,~train_df.columns.duplicated()]
train_df

           사용일자  승차총승객수
0      20200101   20427
1      20200101   12126
2      20200101     892
3      20200101     917
4      20200101    2010
...         ...     ...
18627  20210731   11320
18628  20210731    4261
18629  20210731    4666
18630  20210731    1292
18631  20210731    5350

[344239 rows x 2 columns]

In [298]:
for i in range(len(train_df)):
    tmp = train_df.iloc[i].values[0]
    train_df.loc[i,'사용일자'] = tmp[:-2]

ValueError: cannot reindex from a duplicate axis

In [299]:
train_df

         사용일자  승차총승객수
0      202001   20427
1      202001   12126
2      202001     892
3      202001     917
4      202001    2010
...       ...     ...
18627    2020   11320
18628    2020    4261
18629    2020    4666
18630    2020    1292
18631    2020    5350

[344239 rows x 2 columns]

In [256]:
num = {}
for idx, k in enumerate(train_df['사용일자']):
    if k not in num:
        num[k] = train_df.loc[idx,'승차총승객수']
    else:
        num[k] += train_df.loc[idx,'승차총승객수']
num

ValueError: cannot reindex from a duplicate axis