In [19]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc
import platform
if platform.system() == 'Windows':
    matplotlib.rc('font', family='Malgun Gothic')

%matplotlib inline

In [20]:
covid = pd.read_csv('data/covid_seoul1.txt', encoding='ANSI')
covid.head()

,연번,확진일,환자번호,국적,환자정보,지역,여행력,접촉력,조치사항,상태,이동경로,등록일,수정일,노출여부
0,83138,2021-09-06,NaN,NaN,NaN,관악구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51:11,2021-09-07 10:51:11,Y
1,83137,2021-09-06,NaN,NaN,NaN,강남구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51:11,2021-09-07 10:51:11,Y
2,83136,2021-09-06,NaN,NaN,NaN,동작구,NaN,감염경로 조사중,NaN,-,NaN,2021-09-07 10:51:11,2021-09-07 10:51:11,Y
3,83135,2021-09-06,NaN,NaN,NaN,강남구,NaN,기타 확진자 접촉,NaN,-,NaN,2021-09-07 10:51:11,2021-09-07 10:51:11,Y
4,83134,2021-09-06,NaN,NaN,NaN,광진구,미국,해외유입,NaN,-,NaN,2021-09-07 10:51:11,2021-09-07 10:51:11,Y

In [21]:
covid1 = covid.drop(['환자번호', '국적', '환자정보', '지역', '여행력', '접촉력', '조치사항', '상태', '이동경로', '등록일', '수정일', '노출여부'], axis=1)

In [22]:
covid1

          연번         확진일
0      83138  2021-09-06
1      83137  2021-09-06
2      83136  2021-09-06
3      83135  2021-09-06
4      83134  2021-09-06
...      ...         ...
83133      5  2020-01-31
83134      4  2020-01-30
83135      3  2020-01-30
83136      2  2020-01-30
83137      1  2020-01-24

[83138 rows x 2 columns]

In [43]:
covid1['확진일'] = pd.to_datetime(covid1['확진일'], format='%Y-%m-%d')
covid1

          연번        확진일  month  year
0      83138 2021-09-06      9  2021
1      83137 2021-09-06      9  2021
2      83136 2021-09-06      9  2021
3      83135 2021-09-06      9  2021
4      83134 2021-09-06      9  2021
...      ...        ...    ...   ...
83133      5 2020-01-31      1  2020
83134      4 2020-01-30      1  2020
83135      3 2020-01-30      1  2020
83136      2 2020-01-30      1  2020
83137      1 2020-01-24      1  2020

[83138 rows x 4 columns]

In [27]:
covid1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83138 entries, 0 to 83137
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   연번      83138 non-null  int64
 1   확진일     83138 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 1.3 MB

In [46]:
covid1_month_count = covid1.groupby(['확진일']).size()
covid1_month_count

확진일
2020-01-24      1
2020-01-30      3
2020-01-31      3
2020-02-02      1
2020-02-05      2
             ...
2021-09-02    542
2021-09-03    566
2021-09-04    508
2021-09-05    464
2021-09-06    482
Length: 560, dtype: int64

In [49]:
covid_day_count = pd.DataFrame(covid1_month_count, columns=['일별 확진자 수'])

In [50]:
covid_day_count

            일별 확진자 수
확진일
2020-01-24         1
2020-01-30         3
2020-01-31         3
2020-02-02         1
2020-02-05         2
...              ...
2021-09-02       542
2021-09-03       566
2021-09-04       508
2021-09-05       464
2021-09-06       482

[560 rows x 1 columns]

In [53]:
covid_day_count.to_csv('data/covid_day_count.txt')