# 1. 성적표 파일을 판다스를 활용하여 오픈하세요.

In [2]:
import pandas as pd
from numpy import random

df = pd.read_csv('./data/성적표.csv' , encoding='cp949')   #EUC-KR , cp949
df

    순번   이름         학과 남/여  학년  이론  실기
0    1  송윤재  환경디자인원예학과  여자   2 NaN NaN
1    2  강민형     사회복지학과  여자   3 NaN NaN
2    3  강예린  환경디자인원예학과  여자   3 NaN NaN
3    4  고보빈       경영학과  여자   4 NaN NaN
4    5  김다정     보건관리학과  여자   3 NaN NaN
5    6  김두언     상담심리학과  남자   2 NaN NaN
6    7  김민지       중국어과  여자   3 NaN NaN
7    8  김수현    화학생명과학과  여자   3 NaN NaN
8    9  김영서       중국어과  여자   4 NaN NaN
9   10  김예은     사회복지학과  여자   2 NaN NaN
10  11  김태우     식품영양학과  남자   3 NaN NaN
11  12  노예빈     경영정보학과  여자   3 NaN NaN
12  13  류원선       경영학과  남자   3 NaN NaN
13  14  박규리    화학생명과학과  여자   3 NaN NaN
14  15  박영수       경영학과  남자   4 NaN NaN
15  16  박진아       건축학과  여자   3 NaN NaN
16  17  박현경       경영학과  여자   2 NaN NaN
17  18  백주연       중국어과  여자   4 NaN NaN
18  19  서예선    IT융합공학과  여자   2 NaN NaN
19  20  송수빈       음악학과  여자   4 NaN NaN
20  21  안연주    영어영문학전공  여자   4 NaN NaN
21  22  양정원    영어영문학전공  여자   3 NaN NaN
22  23  염효석     보건관리학과  남자   3 NaN NaN
23  24  윤예지       일본어과  여자   3 NaN NaN
24  25  윤채린     경영정보학과  여자   3 NaN NaN
25  26  이기상       일본어과  남자   4 NaN NaN
26  27  이민영       경영학과  여자   3 NaN NaN
27  28  이아람   동물생명자원학과  여자   4 NaN NaN
28  29  이여경       음악학과  여자   4 NaN NaN
29  30  이정현  환경디자인원예학과  여자   1 NaN NaN
30  31  이주연     경영정보학과  여자   2 NaN NaN
31  32  장채연       간호학과  여자   3 NaN NaN
32  33  정민주       음악학과  여자   3 NaN NaN
33  34  정예슬       간호학과  여자   1 NaN NaN
34  35  홍지호    영어통번역전공  남자   4 NaN NaN

이론과 실기점수를 랜덤으로 입력하세요. 각각 점수는 60~100점 사이

In [5]:
df['이론'] = random.randint(60,101, size=len(df.index))
df['실기'] = random.randint(60,101, size=len(df.index))

    순번   이름         학과 남/여  학년   이론   실기
0    1  송윤재  환경디자인원예학과  여자   2  100   89
1    2  강민형     사회복지학과  여자   3   66   98
2    3  강예린  환경디자인원예학과  여자   3   98   97
3    4  고보빈       경영학과  여자   4   67   68
4    5  김다정     보건관리학과  여자   3   83   86
5    6  김두언     상담심리학과  남자   2  100   95
6    7  김민지       중국어과  여자   3   86   69
7    8  김수현    화학생명과학과  여자   3   89   91
8    9  김영서       중국어과  여자   4   74   99
9   10  김예은     사회복지학과  여자   2   70   87
10  11  김태우     식품영양학과  남자   3   79   99
11  12  노예빈     경영정보학과  여자   3   84   84
12  13  류원선       경영학과  남자   3   82   97
13  14  박규리    화학생명과학과  여자   3   77  100
14  15  박영수       경영학과  남자   4   72   82
15  16  박진아       건축학과  여자   3   69   61
16  17  박현경       경영학과  여자   2   79   76
17  18  백주연       중국어과  여자   4   60  100
18  19  서예선    IT융합공학과  여자   2   87   88
19  20  송수빈       음악학과  여자   4   68   69
20  21  안연주    영어영문학전공  여자   4   79   97
21  22  양정원    영어영문학전공  여자   3   73   90
22  23  염효석     보건관리학과  남자   3   70   98
23  24  윤예지       일본어과  여자   3   77   75
24  25  윤채린     경영정보학과  여자   3   79   63
25  26  이기상       일본어과  남자   4   89   98
26  27  이민영       경영학과  여자   3   64   60
27  28  이아람   동물생명자원학과  여자   4   69   78
28  29  이여경       음악학과  여자   4   92   71
29  30  이정현  환경디자인원예학과  여자   1   68   86
30  31  이주연     경영정보학과  여자   2   73   77
31  32  장채연       간호학과  여자   3   63   97
32  33  정민주       음악학과  여자   3   80   78
33  34  정예슬       간호학과  여자   1   70   97
34  35  홍지호    영어통번역전공  남자   4   63  100

In [8]:
df.head(3)

   순번   이름         학과 남/여  학년   이론  실기
0   1  송윤재  환경디자인원예학과  여자   2  100  89
1   2  강민형     사회복지학과  여자   3   66  98
2   3  강예린  환경디자인원예학과  여자   3   98  97

남/여 값을 이용하여 남=1, 여=2 로 변환해서 성별코드 컬럼을 새로 생성해서 남/여와 학년사이에 위치하도록 수정하세요.

In [11]:
df['성별코드'] = [ 1 if i == '남자' else 2  for i in df['남/여']]
df.head()

   순번   이름         학과 남/여  학년   이론  실기  성별코드
0   1  송윤재  환경디자인원예학과  여자   2  100  89     2
1   2  강민형     사회복지학과  여자   3   66  98     2
2   3  강예린  환경디자인원예학과  여자   3   98  97     2
3   4  고보빈       경영학과  여자   4   67  68     2
4   5  김다정     보건관리학과  여자   3   83  86     2

In [12]:
df1 = df.iloc[:,[0,1,2,3,7,4,5,6]]
df1

    순번   이름         학과 남/여  성별코드  학년   이론   실기
0    1  송윤재  환경디자인원예학과  여자     2   2  100   89
1    2  강민형     사회복지학과  여자     2   3   66   98
2    3  강예린  환경디자인원예학과  여자     2   3   98   97
3    4  고보빈       경영학과  여자     2   4   67   68
4    5  김다정     보건관리학과  여자     2   3   83   86
5    6  김두언     상담심리학과  남자     1   2  100   95
6    7  김민지       중국어과  여자     2   3   86   69
7    8  김수현    화학생명과학과  여자     2   3   89   91
8    9  김영서       중국어과  여자     2   4   74   99
9   10  김예은     사회복지학과  여자     2   2   70   87
10  11  김태우     식품영양학과  남자     1   3   79   99
11  12  노예빈     경영정보학과  여자     2   3   84   84
12  13  류원선       경영학과  남자     1   3   82   97
13  14  박규리    화학생명과학과  여자     2   3   77  100
14  15  박영수       경영학과  남자     1   4   72   82
15  16  박진아       건축학과  여자     2   3   69   61
16  17  박현경       경영학과  여자     2   2   79   76
17  18  백주연       중국어과  여자     2   4   60  100
18  19  서예선    IT융합공학과  여자     2   2   87   88
19  20  송수빈       음악학과  여자     2   4   68   69
20  21  안연주    영어영문학전공  여자     2   4   79   97
21  22  양정원    영어영문학전공  여자     2   3   73   90
22  23  염효석     보건관리학과  남자     1   3   70   98
23  24  윤예지       일본어과  여자     2   3   77   75
24  25  윤채린     경영정보학과  여자     2   3   79   63
25  26  이기상       일본어과  남자     1   4   89   98
26  27  이민영       경영학과  여자     2   3   64   60
27  28  이아람   동물생명자원학과  여자     2   4   69   78
28  29  이여경       음악학과  여자     2   4   92   71
29  30  이정현  환경디자인원예학과  여자     2   1   68   86
30  31  이주연     경영정보학과  여자     2   2   73   77
31  32  장채연       간호학과  여자     2   3   63   97
32  33  정민주       음악학과  여자     2   3   80   78
33  34  정예슬       간호학과  여자     2   1   70   97
34  35  홍지호    영어통번역전공  남자     1   4   63  100

학과의 고유값을 목록으로 추출

In [13]:
df1['학과'].unique()

array(['환경디자인원예학과', '사회복지학과', '경영학과', '보건관리학과', '상담심리학과', '중국어과',
       '화학생명과학과', '식품영양학과', '경영정보학과', '건축학과', 'IT융합공학과', '음악학과',
       '영어영문학전공', '일본어과', '동물생명자원학과', '간호학과', '영어통번역전공'], dtype=object)

학과의 고유값을 출력해주는 함수를 작성해보세요.

In [15]:
def u_unique(data):
    udata = []
    
    for i in data:
        if i not in udata:
            udata.append(i)

    udata.sort()
    return udata

u_unique(df1['학과'])

['IT융합공학과',
 '간호학과',
 '건축학과',
 '경영정보학과',
 '경영학과',
 '동물생명자원학과',
 '보건관리학과',
 '사회복지학과',
 '상담심리학과',
 '식품영양학과',
 '영어영문학전공',
 '영어통번역전공',
 '음악학과',
 '일본어과',
 '중국어과',
 '화학생명과학과',
 '환경디자인원예학과']